*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

h1{
    text-align: center;
    margin: 18rem 0 0 0;
}

a{
    text-decoration: none;
    color: #000;
    background-color: #caec8d;
    padding: 35px 50px;
    display: block;
    width: fit-content;
    margin: 3rem auto;
    text-align: center;
}