*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

body.dark-mode{
    background-color: #111;
    color: #fff;
}

main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 100vh;
    align-items: center;
}

.container-button{
    width: 100%;
    display: flex;
    grid-column: 1/13;
    grid-row: 1/2;
    align-items: center;
    justify-content: flex-end;
}

#toggledark{
    display: flex;
    width: 10%;
    text-align: center;
    padding: 14px 18px;
    background-color: #dcdcdc;
    border: none;
    border-radius: 10px;
    margin: 18px;
}

/* Apartado del formulario */


.formulario{
    width: 40%;
    max-width: 400px;
    padding: 50px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self:center;
    grid-column: 1/13;
    grid-row: 2/12;
    border-radius: 7px;
    background-color: white;
}

.formulario h2{
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
    color:#48f;
    font-weight: 700;
}  


form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

form input{
    width: 90%;
    border: 1px solid #666666;
    border-radius: 5px;
    margin: 3px auto;
    padding: 15px;
    padding-left: 33px;
}



form input::placeholder{
    color: rgb(39, 39, 39);
}

.btn-account{
    color:white;
    padding: 18px;
    width: 90%;
    margin: 1rem auto;
    text-align: center;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.5s ease;
    background: linear-gradient( 45deg,rgb(51, 117, 230),rgb(30, 58, 134));
}

.btn-account:hover{
    background-color: rgb(39, 101, 235);
    cursor: pointer;
}

/* ICONOS */

.content-icon{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
}

.icon{
    position: absolute;
    top: 18px;
    left: 28px;
}  

input[type="date"]{
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background: none !important;
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none; /* Oculta el ícono del calendario en navegadores WebKit */
}

/*Seccion de dispositivos moviles*/

@media(max-width: 1024px){
    body{
        background-color: rgb(31, 67, 165);
    }

    main{
        grid-template-columns: repeat(6, 1fr);
        height: 100vh;
    }

    .formulario{
        width: 90%;
        height: auto;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
        grid-row: 2/12;
    }

    .formulario h2{
        font-size: 2rem;
        margin-top: 2rem;
        color: #48f;
    }

    form{
        gap: 12px;
    }

    .btn-account{
        width: 90%;
        padding: 18px;
    }
    
}

@media (max-width: 768px){
    body{
        background-color: rgb(31, 67, 165);
    }
    main{
        grid-template-columns: repeat(4, 1fr);
        height: 100vh;
    }
    .formulario{
        width: 90%;
        height: auto;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .formulario h2{
        font-size: 2rem;
        margin-top: 2rem;
        color: #48f;
    }
    form{
        gap: 12px;
    }

    .btn-account{
        width: 90%;
        padding: 18px;
    }
    
}


@media (max-width: 660px){
    body{
        background-color: rgb(31, 67, 165);
    }
    main{
        grid-template-columns: repeat(2, 1fr);
    }
    .formulario{
        width: 90%;
        height: auto;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .formulario h2{
        font-size: 2rem;
    }
    form{
        gap: 12px;
    }
    
    .btn-account{
        width: 90%;
        padding: 18px;
    }
}

/* mobile */
@media (max-width:480px){
    body{
        background-color: rgb(31, 67, 165);
    }

    body.dark-mode{
        background-color: #fff;

    }

    main{
        grid-template-columns: repeat(4, 1fr);
        height: 100vh;
    }

    .formulario{
        width: 90%;
        height: auto;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
        grid-row: 3/10;
        grid-column: 1/5;
    }

    .formulario h2{
        font-size: 2rem;
        font-weight: 700;
        color: rgb(36, 36, 36);
    }

    form{
        gap: 12px;
    }

    .btn-account{
        width: 90%;
        padding: 18px;
    }
}


@media (max-width: 380px){
    body{
        background-color: rgb(31, 67, 165);
    }

    main{
        grid-template-columns: repeat(2, 1fr);
        height: 100vh;
    }

    .formulario{
        width: 90%;
        height: auto;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .formulario h2{
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-weight: 700;
        color: rgb(36, 36, 36);
    }

    form{
        gap: 12px;
    }

    .btn-account{
        width: 90%;
        padding: 15px;
        margin-top: 0;
    }
    #birthdate{
        margin-bottom: 0;
    }
}

@keyframes rgb {
    10%{
        color: red;
    }
    30%{
        color: blue;
    }
    60%{
        color: yellow;
    }
    90%{
        color: purple;
    }
    100%{
        color: aqua;
    }
}
